@charset "utf-8";

@font-face {
    font-family: 'gamer';
    src: url(../font/Gamer.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.644);
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
    margin: auto;
}

header{
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin: auto;
    color: white;
    background-color: #125699;
}

.logo{
    display: inline-block;
    font-size: 28px;
}

h1{
    display: inline; 
    font-size: 50px;
    margin-left: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: 'gamer', sans-serif ;
}

ul{
    margin-top: 10px;
    display: inline-block;
    float: right;
}

li{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 17px;
}

section{
    position: relative;
}

.card-img{
    background-image: url(../img/asteroids.jpg);
    height: 250px;
    background-size: cover;
    border-radius: 10px;
}

.card {
    background-color: white;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 50px;
}

p{
    font-size: 18px;
    margin-left: 10px;
}

.preco{
    margin-top: 70px;
    margin-left: 10px;
    font-size: 24px;
}


.btn{
    position: absolute;
    background-color: #00D1F0;
    top: 92%;
    border: 1px solid rgba(0, 0, 0, 0.151) ;
    border-radius: 8px 8px 10px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-left: 191px;
    padding-right: 191px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


