@charset "utf-8";

@font-face {
    font-family: 'gamer';
    src: url(fonts/Gamer.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.644);
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
    margin: auto;
}

header{
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin: auto;
    color: white;
    background-color: #125699;
}

.logo{
    display: inline-block;
}

h1{
    display: inline; 
    font-size: 50px;
    margin-left: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: 'gamer', sans-serif ;
}

ul{
    margin-top: 10px;
    display: inline-block;
    float: right;
}

li{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 17px;
}

/* section{
    
} */

.container{
    display: inline-block;
    margin: auto;
}

.card{
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 400px;
    margin: 15px;
}

.card h2{
    text-align: center;
}

.card p {
    margin-top: 10px;
    font-size: 19px;
}

.card-img{
    border-radius: 10px;
    height: 150px;
    margin-bottom: 15px;

}

.pro-1{
    background-image: url(img/asteroids.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-2{
    background-image: url(img/defender.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-3{
    background-image: url(img/donkeyjpg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.pro-4{
    background-image: url(img/galaga.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-5{
    background-image: url(img/pacman.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-6{
    background-image: url(img/pong.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-7{
    background-image: url(img/spacealien.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-8{
    background-image: url(img/zork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    padding: 15px;
    text-align: center;
    padding-bottom: 38px;
    width: 100%;
    color: white;
    background-color: #0B9994;
}

@media screen and (max-width: 1480px){
    section{
        text-align: center;
        width: 100%;
    }

    .container{
        margin: auto;
        text-align: left;
    }
    
}

@media screen and (max-width: 1180px){
    section{
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .pro-7{
        text-align: left;
    }

    .pro-8{
        text-align: left;
    }
}

@media screen and (max-width: 900px){ 
    section{
        text-align: center;
    }

    .container{
        margin: auto;
        text-align: left;
    }
}

.container a{
    color: black;
    margin-top: 50px;
}

.btn{
    background-color: #0df1ea;
    margin-top: 116px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.151) ;
    border-radius: 8px 8px 10px 10px;
    height: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
