@charset "utf-8";

@font-face {
    font-family: 'gamer';
    src: url(fonts/Gamer.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
}

header{
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin: auto;

    color: white;
    background-color: #125699;
}

.logo{
    display: inline-block;
}

h1{
    display: inline; 
    font-size: 50px;
    margin-left: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: 'gamer', sans-serif ;
}

ul{
    display: inline-block;
    float: right;
}

li{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 17px;
}

.container{
    display: flex;
}

.card{
    background-color: white;
    width: 250px;
    height: 400px;
    margin: 15px;
}

.card-img{
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
}

.pro-1{
    background-image: url(img/asteroids.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-2{
    background-image: url(img/defender.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-3{
    background-image: url(img/donkeyjpg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.pro-4{
    background-image: url(img/galaga.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-5{
    background-image: url(img/pacman.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-6{
    background-image: url(img/pong.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-7{
    background-image: url(img/spacealien.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-8{
    background-image: url(img/zork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    padding-right: auto;
    margin: auto;
    width: 100%;

    color: white;
    background-color: #0B9994;
} */