@charset "utf-8";

@font-face {
    font-family: 'nomeLoja';
    src: url(../font/Gamer.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

.container{
    background-color: #eee;
    min-height: 90vh;
    padding: 10px;
}

.pro-container{
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.card-img{
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;
}

.btn{
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;

}

